<footer class="bg-white-200">
    <p class="text-center pt-5 pb-3">This is the footer. Should it include contact information?</p>
    <p class="text-center pb-6">No, I don't really think so :)</p>
    <hr class="border-gray-400 pb-3">

    <div class="flex items-center justify-around">
        <div class="p-4 flex-1">
            <img src="/src/assets/images/logo_chess.png" alt="Logo" class="mx-auto w-[15vw]">
        </div>
        <div class="p-4 flex-1 flex-2">
            <div class="flex items-center justify-between">
                <a href="/src/index.html" class="">Index</a>
                <a href="/src/members.html" class="">Members</a>
                <a href="/src/article.html" class="">Article</a>
                <a href="/src/misc.html" class="">Misc</a>
            </div>
        </div>
        <div class="p-4 flex-1">
            <div class="text-center">
                <a href="#" class="me-3 text-blue-600 hover:text-blue-800 text-[2.5vw]"><i class="fab fa-facebook"></i></a>
                <a href="#" class="me-3 text-blue-600 hover:text-blue-800 text-[2.5vw]"><i class="fab fa-twitter"></i></a>
                <a href="#" class="me-3 text-blue-600 hover:text-blue-800 text-[2.5vw]"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>